.pio/
.vscode/
Download/
Movies/
Music/
Pictures/
Screenshots/
include/config.h
sdkconfig
sdkconfig.old
*.bin
*.elf
*.hex
*.map


.DS_Store
*.log


BH1750.c
BH1750.h

SHT30.c
SHT30.h

MY_I2C.c
MY_I2C.h

